@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Big+Shoulders+Display:wght@700&display=swap');

:root {
  --color-bright-orange: hsl(31, 77%, 52%);
  --color-dark-cyan: hsl(184, 100%, 22%);
  --color-very-dark-cyan: hsl(179, 100%, 13%);
  --color-white-75: hsla(0, 0%, 100%, 0.75);
  --color-light-gray: hsl(0, 0%, 95%);

  --ff-sans: 'Lexend Deca', sans-serif;
  --ff-cursive: 'Big Shoulders Display', cursive;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

picture,
img {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
}

body {
  font-size: 15px;
  font-family: var(--ff-sans);
  display: grid;
  align-items: center;
  justify-items: center;
  min-height: 100vh;
  color: var(--color-white-75);
  background-color: var(--color-light-gray);
  position: relative;
}

main {
  margin: 6em 1em;
}

.card {
  display: grid;
  box-shadow: 0 0.5em 1.5em hsl(214, 13%, 90%);
  border-radius: 0.5em;
  overflow: hidden;
  max-width: 21rem;
}

.card__element {
  display: grid;
  gap: 2em;
  padding: 3.25em;
}

.card__element:first-of-type {
  background-color: var(--color-bright-orange);
}

.card__element:nth-of-type(2) {
  background-color: var(--color-dark-cyan);
}

.card__element:last-of-type {
  background-color: var(--color-very-dark-cyan);
}

.card__element__title {
  font-size: 2.5rem;
  font-family: var(--ff-cursive);
  color: var(--color-light-gray);
  text-transform: uppercase;
}

.card__element__description {
  font-size: 1rem;
  line-height: 1.6;
}

.card__element__link {
  font-size: 0.9rem;
  color: var(--color-white-75);
  background-color: var(--color-light-gray);
  text-decoration: none;
  padding: 1em 2.5em;
  border-radius: 100vw;
  max-width: fit-content;
  transition: background-color 0.25s ease;
  position: relative;
}

.card__element__link::before {
  content: 'Learn More';
  position: absolute;
  top: 0.9rem;
  left: 0;
  right: 0;
  max-width: fit-content;
  margin-inline: auto;
  color: var(--color-white-75);
  opacity: 0;
  transition: opacity 0.75s ease-out;
}

.card__element__link:hover,
.card__element__link:focus-visible {
  background-color: transparent;
  outline: 2px solid var(--color-white-75);
}

.card__element__link:hover::before,
.card__element__link:focus-visible::before {
  opacity: 1;
}

.card__element:first-of-type .card__element__link {
  color: var(--color-bright-orange);
}

.card__element:nth-of-type(2) .card__element__link {
  color: var(--color-dark-cyan);
}

.card__element:last-of-type .card__element__link {
  color: var(--color-very-dark-cyan);
}

footer {
  position: absolute;
  bottom: 1rem;
  color: black;
}

.attribution {
  font-size: 11px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.attribution a:visited {
  color: hsl(270, 100%, 60%);
}

@media (min-width: 48.75em) {
  main {
    margin: 1em;
  }

  .card {
    grid-template-columns: repeat(3, 1fr);
    max-width: 57rem;
  }

  .card__element {
    gap: 2em;
    padding: 3em;
  }

  .card__element__title {
    font-size: 2.5rem;
  }

  .card__element__description {
    font-size: 0.9rem;
    line-height: 1.6;
  }

  .card__element__link {
    font-size: 0.9rem;
    margin-top: 4em;
    padding: 1em 2em;
  }
}